body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  padding: 5rem 5rem;
  background-color: #15157a;
  color: white;
  text-align: left; /* Alinea el texto a la izquierda */
}

h1 {
  font-size: 30px;
}

h1,
h2 {
  margin: 0; /* Elimina el margen horizontal para centrar */
  text-decoration: underline;
}
